config/techdetechtives.env
analytics/certs/*
!analytics/certs/.gitkeep
analytics/notebooks/.ipynb_checkpoints/
**/__pycache__/
upstream/
*.td-bak
ticketing/iris-web/
ticketing/certs/*
!ticketing/certs/.gitkeep
vulnerability/greenbone/
vulnerability/certs/*
!vulnerability/certs/.gitkeep
honeypot/opencanary.conf
honeypot/ports.yaml
network/certs/*
!network/certs/.gitkeep
ot-ids/work/
ot-ids/out/
